body { background-color: black; }
p { text-align: center; }
#tela {
background-color: #000000;
background-image: url('img/bg.png');
border: solid #FF0000 2px;
}
button {
background-color: #9dce2c;
border: none;
color: white;
padding: 10px;
cursor: pointer;
}
button:hover { background-color: #7bac0a; }
button:disabled {
background-color: #DDDDDD;
cursor: not-allowed;
}